@font-face {
  font-family: "RussoOne";
  src: url("./fonts/Russo_One/RussoOne-Regular.ttf");
}
@font-face {
  font-family: "Bender";
  src: url("./fonts/bender-cufonfonts/Jovanny\ Lemonad\ -\ Bender-Light.otf");
}
* {
  scrollbar-color: #874adc #241535;
  scrollbar-width: thin;
  padding: 0;
  margin: 0;
  overflow: auto;
}
body {
  width: 95%;
  height: auto;
  margin: auto;
  background-color: #120a17;
  color: white;

  .main-page {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/Mask\ group.png");
    background-size: cover;
    .navbar {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      .nav-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 45%;
        }
        h3 {
          font-family: "RussoOne";
          font-weight: normal;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            color: gray;
          }
        }
      }
      .nav-right {
        button {
          width: 160px;
          height: 53px;
          top: 32px;
          left: 1209.1px;
          border-radius: 8px;
          color: white;
          font-family: "Bender";
          font-size: 90%;
          transition: 0.5s;
          &:nth-child(1) {
            background-color: transparent;
            border: 1px solid #32253b;
            &:hover {
              background-color: #32253b;
              border: none;
            }
          }
          &:nth-child(2) {
            background-color: #32253b;
            border: none;
            &:hover {
              background-color: transparent;
              border: 1px solid #32253b;
            }
          }
        }
      }
    }
    .inside-main {
      width: 100%;
      height: 80%;
      text-align: center;
      position: relative;
      h1 {
        margin: auto;
        font-family: "RussoOne";
        font-size: 500%;
        font-weight: normal;
      }
      p {
        color: gray;
        font-family: "Bender";
        font-size: 150%;
        margin: 3% 0 5% 0;
      }
      button {
        width: 488px;
        height: 130px;
        border-radius: 25px;
        background-color: #472b5c4e;
        border: 2px solid #8351a6;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "RussoOne";
        font-size: 170%;
        margin: auto;
        gap: 3%;
        transition: .5s;
        &:hover{
          background-color: #19121d;
        }
      }
      .leftGun {
        position: absolute;
        top: 5%;
        left: 0%;
      }
      .rightGun {
        position: absolute;
        top: 5%;
        right: 0%;
      }
      .mittens {
        position: absolute;
        bottom: 10%;
        left: 15%;
      }
      .box {
        position: absolute;
        bottom: 10%;
        right: 15%;
      }
    }
  }

  .partners-page {
    width: 100%;
    height: auto;
    text-align: center;
    h2 {
      color: #74fbfb;
      font-family: "Bender";
      font-size: 200%;
      font-weight: normal;
    }
    .companies {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3% 0 5% 0;
      gap: 3%;
      img {
        &:nth-child(1) {
          width: 20%;
        }
        &:nth-child(2) {
          width: 15%;
        }
      }
    }
    h3 {
      font-family: "RussoOne";
      font-size: 150%;
      font-weight: normal;
      margin-bottom: 5%;
    }
  }

  .step-page {
    width: 100%;
    height: auto;
    text-align: start;
    h3 {
      font-family: "RussoOne";
      font-weight: normal;
      font-size: 150%;
    }
    .h3-underline {
      text-decoration: underline;
      color: #74fbfb;
    }
    h2 {
      font-family: "RussoOne";
      font-weight: normal;
      font-size: 180%;
      margin: 2% 0 1% 0;
    }
    p {
      font-family: "Bender";
      font-weight: normal;
      font-size: 120%;
      color: gray;
    }
    .buttons {
      margin: 5% auto;
      display: flex;
      justify-content: center;
      gap: 5%;
    }
    .assets {
      width: 90%;
      height: auto;
      margin: auto;
      .selects {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 3% 0;
        overflow: hidden;
      }
      .cards {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card {
          width: 18%;
          height: auto;
          overflow: visible;
          text-align: center;
          margin-bottom: 5%;
          .image {
            background-color: #211629;
            width: 100%;
            height: 90%;
            border-radius: 5%;
            padding: 10% 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            img {
              transition: 0.5s;
              width: 80%;
            }
          }
          p {
            width: 100%;
            height: 9%;
            margin-top: 1%;
            transition: 0.5s;
            overflow: hidden;
          }
          &:hover {
            .image {
              background-color: #32253b;
              img {
                transform: scale(1.1);
              }
            }
            p {
              color: #74fbfb;
            }
          }
        }
      }
      .cards-down {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 2% 0 5% 0;
        button {
          color: white;
          padding: 1% 1.5%;
          background-color: #31243a;
          border: 1px solid #31243a;
          border-radius: 10px;
          margin: 0 1%;
          &:nth-child(2) {
            background-color: transparent;
            padding: 1%;
          }
        }
      }
    }
    .buttons-3 {
      margin: 5% auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      .flex {
        display: flex;
        align-items: center;
        font-family: "RussoOne";
      }
      img {
        &:nth-child(1) {
          width: 100%;
          margin-right: 10%;
        }
        &:nth-child(2) {
          width: 10%;
          margin-bottom: 2%;
        }
        &:nth-child(3) {
          width: 3%;
        }
      }
      h4{
        width: 150%;
        overflow: hidden;
      }
    }
    .choosenGun {
      width: 100%;
      height: auto;
      display: flex;
      align-items: start;
      justify-content: space-between;
      .middle {
        flex-direction: column;
        text-align: center;
        position: relative;
        .hand {
          margin-top: 5%;
        }
        .cards {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin: 5% 0;
          .card {
            background-color: #211332;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7% 4%;
            border-radius: 10%;
            border: 2px solid #2f2237;
            transition: 0.5s;
            img {
              transition: 0.5s;
            }
            &:hover {
              background-color: #1c2a33;
              border: 2px solid #6ff0f0;
              img {
                transform: scale(1.1);
              }
            }
          }
        }
        .input-img {
          margin-right: 50%;
        }
        .input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid white;
          border-radius: 10px;
          padding: 2% 0 2% 3%;
          position: relative;
          margin: 3% 0;
          p {
            color: white;
            display: flex;
            align-items: center;
          }
          button {
            width: 20%;
            background-color: #874adc;
            color: white;
            font-family: "RussoOne";
            border-radius: 10px;
            position: absolute;
            font-size: 120%;
            top: 0;
            right: 0;
            bottom: 0;
            transition: 0.5s;
            &:hover {
              color: #874adc;
              background-color: transparent;
              border: 2px solid #874adc;
            }
          }
        }
        .buttons {
          button {
            border-radius: 7px;
            padding: 2% 8%;
            color: white;
            border: none;
            &:nth-child(1) {
              background-color: #511e74;
              font-family: "RussoOne";
            }
            &:nth-child(2) {
              background-color: #1b161d;
              display: flex;
              align-items: center;
              gap: 5%;
              font-family: "Bender";
            }
          }
        }
        .absolute {
          display: flex;
          gap: 10px;
          position: absolute;
          left: -20%;
          bottom: 5%;
          img {
            width: 40px;
          }
          button {
            border-radius: 7px;
            color: white;
            border: none;
            background-color: #241535;
            font-family: "RussoOne";
            padding: 0 7px;
          }
        }
      }
    }
  }

  .step-3-page {
    background-image: url(./assets/Mask\ group.png);
    background-size: 100% 120%;
  }

  .faq {
    width: 100%;
    height: auto;
    text-align: center;
    h1 {
      font-family: "RussoOne";
      text-align: center;
      margin-bottom: 3%;
    }
    .cards {
      width: 100%;
      text-align: start;
      .card {
        width: 96%;
        background-color: #1d1424;
        border-radius: 10px;
        padding: 2%;
        font-size: 120%;
        margin: 2% 0;
        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            font-family: "RussoOne";
            font-weight: normal;
          }
        }
        .line {
          width: 100%;
          height: 2px;
          background-color: #4f4755;
          margin: 1% 0;
        }
        p {
          color: white;
          font-family: "Bender";
          letter-spacing: 2px;
        }
      }
    }
    img {
      width: 30%;
    }
  }

  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-size: 120%;
    .card {
      width: 30%;
      h2 {
        font-family: "RussoOne";
        font-weight: normal;
        margin: 3% 0;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 3%;
        img {
          width: 7%;
        }
      }
      p {
        font-family: "Bender";
        letter-spacing: 1px;
        margin: 3% 0;
        display: flex;
        align-items: center;
        gap: 3%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    font-size: 70%;
    letter-spacing: 2px;
    .main-page {
      height: auto;
      .navbar {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .nav-left {
          text-align: center;
          img {
            width: 25%;
          }
        }
      }
      .inside-main {
        width: 90%;
        margin: 5% auto;
        height: auto;
        h1 {
          font-size: 300%;
          margin: 8% 0;
        }
        button {
          width: 90%;
          height: 70px;
        }
        .leftGun {
          display: none;
        }
        .rightGun {
          display: none;
        }
        .mittens {
          display: none;
        }
        .box {
          display: none;
        }
      }
    }

    .partners-page {
      .companies {
        margin: 10% 0;
        img {
          &:nth-child(1) {
            width: 45%;
          }
          &:nth-child(2) {
            width: 40%;
          }
        }
      }
      h3 {
        font-size: 170%;
      }
    }

    .step-page {
      width: 90%;
      margin: auto;
      h3 {
        margin: 5% 0;
      }
      h2 {
        margin: 5% 0;
      }
      .buttons {
        flex-wrap: wrap;
        img {
          margin: 5% 0;
        }
      }
      .assets {
        .cards {
          flex-wrap: wrap;
          .card {
            width: 90%;
            margin: auto;
            margin-bottom: 8%;
          }
        }
        .cards-down {
          button {
            padding: 3% 5%;
            &:nth-child(2) {
              padding: 3%;
            }
          }
        }
      }

      .buttons-3 {
        width: 100%;
        justify-content: space-between;
        img {
          &:nth-child(1) {
            width: 200%;
            margin-right: 10%;
          }
          &:nth-child(2) {
            width: 30%;
            margin-bottom: 2%;
          }
          &:nth-child(3) {
            width: 15%;
          }
        }
      }

      .choosenGun {
        flex-wrap: wrap;
        .left {
          width: 100%;
          height: 160px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img {
            width: 20%;
            transform: rotate(90deg);
          }
        }
        .middle {
          width: 100%;
          img {
            width: 100%;
            margin: 5% 0;
          }
          .hand {
            width: 10%;
          }
          .cards {
            width: 100%;
            flex-wrap: wrap;
            .card {
              width: 35%;
              margin: 2% 1%;
            }
          }
          .input {
            height: 30px;
            padding: 2% 0;
            p {
              margin-left: 5%;
              font-size: 100%;
              img {
                display: none;
              }
            }
            button {
              width: 40%;
              font-size: 100%;
            }
          }
          .buttons {
            margin: 10% 0;
            button {
              padding: 0% 8%;
              &:nth-child(1) {
                width: 45%;
              }
              &:nth-child(2) {
                width: 45%;
              }
            }
          }
          .absolute {
            display: none;
          }
        }
        .right {
          width: 100%;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img {
            width: 30%;
            transform: rotate(90deg);
          }
        }
      }
    }

    .faq {
      h1 {
        margin: 5% 0;
      }
      .cards {
        width: 90%;
        margin: auto;
        .card {
          width: 90%;
          margin: 8% 0;
          padding: 5%;
          .header {
            h3 {
              &:nth-child(2) {
                display: none;
              }
            }
          }
          .line {
            margin: 5% 0;
          }
        }
      }
      img {
        width: 90%;
      }
    }

    .footer {
      flex-wrap: wrap;
      .card {
        width: 90%;
        margin: 3% auto;

      }
    }
  }
}



::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #874adc;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #241535;
}
